fastapi
uvicorn[standard]
sqlmodel
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
httpx
pillow
python-multipart
jinja2
groq
slowapi==0.1.9
psycopg2-binary==2.9.10
apscheduler==3.10.4
websockets
